{% extends 'layout/basic.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <form method="post" class="text-center col-lg-3 offset-lg-0">
                {% csrf_token %}
                {#        {{ form.as_p }}#}
                <div class="form-group row justify-content-center text-center">
                    <label for="{{ form.name.id_for_label }}" class="form-label">Название</label>
                    <input type="text" class="form-control text-center" name="{{ form.name.name }}"
                           id="{{ form.name.id_for_label }}" value="{{ form.name.value }}" readonly>
                    <label for="{{ form.estimators.id_for_label }}" class="form-label">Число деревьев</label>
                    <input type="number" class="form-control text-center" name="{{ form.estimators.name }}"
                           id="{{ form.estimators.id_for_label }}" value="{{ form.estimators.value }}" readonly>
                    <label for="{{ form.max_features.id_for_label }}" class="form-label">Число признаков</label>
                    <input type="text" class="form-control text-center" name="{{ form.max_features.name }}"
                           id="{{ form.max_features.id_for_label }}" value="{{ form.max_features.value }}" readonly>
                    <label for="{{ form.min_samples_split.id_for_label }}" class="form-label">Число сэмплов при делении</label>
                    <input type="number" class="form-control text-center" name="{{ form.min_samples_split.name }}"
                           id="{{ form.min_samples_split.id_for_label }}" value="{{ form.min_samples_split.value }}" readonly>
                    <label for="{{ form.min_samples_leaf.id_for_label }}" class="form-label">Число сэмплов в узле</label>
                    <input type="number" class="form-control text-center" name="{{ form.min_samples_leaf.name }}"
                           id="{{ form.min_samples_leaf.id_for_label }}" value="{{ form.min_samples_leaf.value }}" readonly>
                </div>
                <br/>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiomethod" id="radiomethod1" value="cross"
                           checked/>
                    <label class="form-check-label" for="radiomethod1">Кросс-валидация</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiomethod" id="radiomethod2" value="split"/>
                    <label class="form-check-label" for="radiomethod2">Обучение на выборках</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiomethod" id="radiomethod3" value="all"/>
                    <label class="form-check-label" for="radiomethod3">Обучение на всех данных</label>
                </div>

                <div class="text-center">
                    <br/>
                    <button type="submit" class="my-submit">Обучить</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}