{% extends 'layout/basic.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    {% if  vacancies%}
        <h1>Вакансии</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"><a class="nav-link my-link" href="{% url 'sort_id' %}">id</a></th>
                <th scope="col"><a class="nav-link my-link" href="{% url 'sort_date' %}">Дата добавления</a></th>
                <th scope="col"><a class="nav-link my-link" href="{% url 'sort_name' %}">Название</a></th>
                <th scope="col"><a class="nav-link my-link" href="{% url 'sort_skills' %}">Навыки</a></th>
                <th scope="col"><a class="nav-link my-link" href="{% url 'sort_salary' %}">ЗП</a></th>
                <th scope="col"><a class="nav-link my-link" href="#">Расчитанная ЗП</a></th>
            </tr>
            </thead>
            <tbody>

                {% for vacancy in vacancies %}
                    <tr>
                        <th scope="row"><a class="nav-link my-link"
                                           href="{% url 'description' pk=vacancy.id %}"> {{ vacancy.id_hh }}</a></th>
                        <td>{{ vacancy.date|date:"d.m.Y" }}</td>
                        <td>{{ vacancy.name }}</td>
                        <td>{{ vacancy.skills }}</td>
                        <td>{{ vacancy.salary }}</td>
                        <td>{{ vacancy.predict_salary }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% else %}
        </br>
        <h3>В базе нет доступных вакансий. Пожалуйста загрузите новые вакании.</h3>
    {% endif %}
{% endblock %}
