{% extends 'layout/basic.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <h1>Модели К-ближайших соседей <a class="my-link" href="{% url 'add_knn' %}">[+]</a></h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Число соседей</th>
            <th scope="col">Функция веса</th>
            <th scope="col">Параметр мощности метрики</th>
            <th scope="col">MAE</th>
            <th scope="col">MSE</th>
            <th scope="col">Выбрать</th>
        </tr>
        </thead>
        <tbody>
        {% for knn in knns %}
            <tr>
                <th scope="row"><a class="nav-link my-link"
                                   href="{% url 'description_knn' pk=knn.id %}"> {{ knn.name }}</a></th>
                <td>{{ knn.neighbors }}</td>
                <td>{{ knn.weights }}</td>
                <td>{{ knn.p }}</td>
                <td>{{ knn.mae }}</td>
                <td>{{ knn.mse }}</td>
                {% if knn.file_model %}
                <td><a class="my-link" href="{% url 'select_knn' pk=knn.id%}">Выбрать</a></td>
                {% else %}
                <td>-</td>
                {% endif %}



            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
